* {
    box-sizing: border-box;
    margin: 0%;
    /* overflow-x: hidden; */

}

body {
    /* background-image: url(./rew.jpg); */
    background-color: black;
}

a{
    color: white;
    font-size: larger;
    font-family: noot;
    text-decoration: none; 
    text-shadow: 0px 3px 5px black; 
  
}
.r1{
    background-color: #c8ff00;
}
.r2{
    background-color: rgb(255, 0, 242);
}
.r3{
    background-color: #ff4816;
}
.r{
    width: 150px;
    height: 50px; 
    margin: 10px;
    box-shadow: 0px 0px 10px black;
display: flex;
align-items: center;
justify-content: center;
}
.head {
    width: 100vw; 
    height: 70vh;
  display: flex;

  padding: 20px;
    background-color: blue;
    animation: gifgame 10s infinite;
    background-image: url(./img/1.gif);
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
   
}
@keyframes gifgame{
    0%{
background-image: url(./img/5.gif);
    }
    20%{
        background-image: url(./img/1.gif);
    }
    30%{
        background-image: url(./img/2.gif);
    }
   40%{
        background-image: url(./img/3.gif);
    }
   50%{
        background-image: url(./img/4.webp);
    }
   60%{
        background-image: url(./img/5.gif);
    }
  70%{
        background-image: url(./img/6.gif);
    }
   80%{
        background-image: url(./img/7.gif);
    }
    90%{
        background-image: url(./img/8.gif);
    }  
     100%{
        background-image: url(./img/9.webp);
    }

}



.allGames {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgb(0, 0, 0); */
    gap: 6vw;
    margin-top: 20px;

    /* display: flex;
    flex-direction: column;
    gap: 300px; */
}

.game {
    background-color: rgb(0, 0, 0);
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: 25vw 25vw;
    border-radius: 2vw;
    box-shadow: 0px 0px 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: all 0.5s;
    position: relative;

}

.play {
    background-color:#ff4816;
    box-shadow: 10px 10px 10px;
    /* height: 4vh;
    width: 5vw; */
    width: 5vw;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    transition: transform 0.3s ease;
    font-family: noot;
    font-size: 0.7vw;
}

.play:hover {
    transform: scale(1.05);
}

.mida:hover {
    transform: scale(1.05);
}

.mida {
    transition: transform 0.3s ease;
    background-color:#c8ff00;
    box-shadow: 10px 10px 10px;    /* height: 4vh;
    width: 5vw; */
    width: 5vw;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family:noot;
    /* margin-top: 27vh;
    margin-left: 10vw; */
    font-size: 0.7vw;

}

.op {
    background-color: rgba(255, 255, 255, 0);
    height: 10vh;
    width: 20vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.dddd {
  height: 10vh;
    width: 100vw;
}

.Games {
    margin-top: 30px;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}
.gamee
{
    /* background-color: crimson; */
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size:  25vw  25vw;
    border-radius: 2vw;
    box-shadow: 0px 0px 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}
.see1{
    font-family: Noot;
    text-shadow: 0px 0px 2px var(--color); 
    font-size: 1.5vw;  
    background-color: rgba(0, 0, 255, 0);
    color: white;
    text-shadow: 0px 0px 5px black; 
 background-color: #ff481600;
    width: 20vw;
    height: 2vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* position: absolute; */

    /* margin-top:500px; */
}

.gamee:hover {
    transform: scale(1.05);
  
}
.yoy {
    background-image: url(./img/2024.png);
    background-size: 15vw 15vh;
    background-repeat: no-repeat;
    height: 15vh;
    width:15vw;
}

.game:hover {
    transform: scale(1.05);
    background-image: url(./soon.png);
}

.game1 {
    background-image: url(./img/1.gif);

}

.game2 {
    background-image: url(./img/2.gif);
}

.game3 {
    background-image: url(./img/3.gif);
}

.game4 {
    background-image: url(./img/4.webp);
}

.game5 {
background-image:url(./img/rew.jpg) ;
}

.game6 {
    background-image: url(./img/6.gif);
}

.game7 {
    background-image: url(./img/7.gif);

}

.game8 {
    background-image: url(./img/8.gif);
}

.game9 {
    background-image: url(./img/9.webp);
}
.game10 {
    background-image: url(./img/10.jpg);
}
.game11 {
    background-image: url(./img/11.webp);
}
.game12 {
    background-image: url(./img/12.webp);
}
.game13 {
    background-image: url(./img/13.webp);
}
.game14 {
    background-image: url(./img/14.webp);
}
.game15{
    background-image: url(./img/15.webp);
}
.game16 {
    background-image: url(./img/16.webp);
}
.game17{
    background-image: url(./img/17.webp);
}
.game18 {
    background-image: url(./img/18.webp);
}
.game19 {
    background-image: url(./img/19.webp);
}
.game20 {
    background-image: url(./img/20.webp);
}
.game21 {
    background-image: url(./img/21.gif);
}.game22 {
    background-image: url(./img/22.gif);
}
.game23 {
    background-image: url(./img/23.gif);
}
.game24 {
    background-image: url(./img/24.gif);
}