body{
    background-color: black;
    display: flex;
    align-items: center;  
justify-content: center;
background-repeat: no-repeat;
background-image: url(../img/reka4.png);
background-size: 100vw 100vh;
    } 
/* .allEnter{
    display: grid;
  place-content: center;
  display: flex;
  flex-direction: row;
  width:70vw;
  height: 98vh;
  background-image: url(../img/b5.webp);
  background-size: 70vw 98vh;
  background-repeat: no-repeat;
}
  */
a {
    color: aliceblue;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  
  #buttonNew {
    background-color:#ff4816;
    background-image: url(.../new);
    font-family: noot;
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    text-shadow: 0px 3px 5px black;

  }
  #buttonNew:hover{
    background-color :#c8ff00;
  
  }
  
  .text {
    height: 5vh;
    width: 30vw;
    color:#c8ff00;
    text-shadow: 0px 5px 7px black;
    font-size: larger;
    font-family: noot;
    text-align: center;
  }
  .text1 {
    height: 5vh;
    width: 30vw;
  }
  .form{
    background-color: rgba(0, 0, 0, 0.253);
    height: 25vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
    gap: 5px;
  
  }
  
.enter {
    width: 15vw;
    height:  4vh;
    direction: rtl;
    border-radius: 7px;
  border: none;
  }